<html>
<html>
<head>
  <title>ODLT</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="/static/styles.css">
  <link rel="stylesheet" href="/static/font-awesome/css/font-awesome.min.css">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans|Dancing+Script|Courgette|Amatic+SC|Open+Sans+Condensed:300" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="/static/bootstrap/js/bootstrap.min.js"></script>
  <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
</head>
<body>
  <div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v2.10";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<div class="container-fluid" id="nav">
  <div class="container">
      <div class="row nav-row">
        <div class="nav-row-positioner">
        <div class="col-md-2 nav-op">
          <h3><a href="/">Home</a></h3>
        </div>

        <div class="col-md-2 nav-op">
          <h3><a href="/about-me">About Me</a></h3>
        </div>

        <div class="col-md-4 logo-op">
          <div class="logo-positioner">

            <div class="mob-logo-positioner">
              <img src="/static/images/logo.png" class="logo"></img>
            </div>

          </div>
        </div>

        <div class="col-md-2 nav-op">
          <h3><a href="/portfolio">Portfolio</a></h3>
        </div>

        <div class="col-md-2 nav-op">
          <h3><a href="/contact">Contact</a></h3>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="container-fluid">
  <div class="container">
    <div class="row">
      <div class="Amatic page-title">
        <!-- <u> -->
          <h1>About Me</h1>
        <!-- </u> -->
      </div>
    </div>
  </div>
</div>

<div class="container-fluid about-me-container">
  <div class="container">
    <div class="row intro-container">
      <div class="col-md-6 about-me">
        <img src="/static/images/meID.jpg"></img>
      </div>


      <div class="col-md-6 about-me-intro">
        <!-- <img src="/static/images/meID.jpg"></img> -->
        <h2>Welcome to my new venture.</h2>

        <p>With 10 years experience in events planning in various roles. I am branching out solo into Event planning, organisation and on the day co-ordination.</p>

        <p>My experience up until this point is summarised below, with photos being added to a variety of albums on this Facebook Page showing event work that I have done.</p>


         - Debbie Bere
      </div>
    </div>
  </div>
</div>
    <div class="container-fluid" >
      <div class="container" id="containerExperience">
    <div class="row ">
      <div class="sub-title" >
        <h1>
          Experience
        </h1>
      </div>
    </div>
    <div class="row experience-catagory">
      <h2>Deputy Town Clerk - (7 Years of experience).</h2>
      <p>
      Organising Civic events including:

      <ul>
        <li>Town Christmas Light Switch Ons</li>
        <li>Mayoral Events</li>
        <li>School Events</li>
        <li>Receptions</li>
        <li>Remembrance events</li>
        <li>Consultation events & Meetings</li>
      </ul>
      </p>

    </div>
    <div class="row experience-catagory">
    <h2>Activities Manager: Stafford House Study Holidays (worked here for 3 summers)</h2>
    <ul>
      <li>Group trips</li>
      <li>Managing a team</li>
      <li>Activities for young people aged 10-17.Weddings</li>
    </ul>
  </div>
  <div class="row experience-catagory">
  <h2>Ann Summers Party Planner (3 years experience)</h2>

  Ladies Nights
  Hen Dos
  Girls get together
  Fundraisers
  </div>
  <div class="row experience-catagory">
    <h2>Weddings</h2>

    As well as coordinating our own big day with 250 guests. I have helped with both planning and on the day co-ordination with a number of weddings in the past 4 years.

  </div>
  <div class="row experience-catagory">
    <h2>Hen Dos</h2>

    I have solely planned or helped plan of many hen Dos.
    Including logistics, budgets, activities and entertainment.


  </div>
  <div class="row experience-catagory">
    Also with experience in organising Fundraisers, Dinner Parties, Birthdays, Halloween events, New Years, House Warming events and much more.

  </div>
</div>
</div>
<!--



  <div class="container-fluid">
    <div class="container about-me">

      <h2>Welcome to my new venture.</h2>

      <p>With 10 years experience in events planning in various roles. I am branching out solo into Event planning, organisation and on the day co-ordination.</p>

      <p>My experience up until this point is summarised below, with photos being added to a variety of albums on this Facebook Page showing event work that I have done.</p>


       - Debbie Bere

      <h2>Deputy Town Clerk - I have been in this role for 7 years.</h2>
      <p>
      Organising Civic events including:

      <ul>
        <li>Town Christmas Light Switch Ons</li>
        <li>Mayoral Events</li>
        <li>School Events</li>
        <li>Receptions</li>
        <li>Remembrance events</li>
        <li>Consultation events & Meetings</li>
      </ul>
      </p>

      <h2>Activities Manager: Stafford House Study Holidays (worked here for 3 summers)</h2>

      Group trips
      Managing a team
      Activities for young people aged 10-17.Weddings

      <h2>Ann Summers Party Planner (3 years experience)</h2>

      Ladies Nights
      Hen Dos
      Girls get together
      Fundraisers

      <h2>Weddings</h2>

      As well as coordinating our own big day with 250 guests. I have helped with both planning and on the day co-ordination with a number of weddings in the past 4 years.

      <h2>Hen Dos</h2>

      I have solely planned or helped plan of many hen Dos.
      Including logistics, budgets, activities and entertainment.
      Also with experience in organising Fundraisers, Dinner Parties, Birthdays, Halloween events, New Years, House Warming events and much more.

    </div>
  </div> -->

  </body>
</html>
