<html>
<head>
  <title>ODLT</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="/static/styles.css">
  <link rel="stylesheet" href="/static/font-awesome/css/font-awesome.min.css">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans|Dancing+Script|Courgette|Amatic+SC|Open+Sans+Condensed:300" rel="stylesheet">
  <link rel="shortcut icon" href="/static/images/favicon.ico" type="image/x-icon">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="/static/bootstrap/js/bootstrap.min.js"></script>
  <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
</head>
<body>
  <div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v2.10";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

  <div class="container-fluid" id="nav">
    <div class="container">
        <div class="row nav-row">
          <div class="nav-row-positioner">
          <div class="col-md-2 nav-op">
            <h3><a href="/">Home</a></h3>
          </div>

          <div class="col-md-2 nav-op">
            <h3><a href="/about-me">About Me</a></h3>
          </div>

          <div class="col-md-4 logo-op">
            <div class="logo-positioner">

              <div class="mob-logo-positioner">
                <img src="/static/images/logo.png" class="logo"></img>
              </div>

            </div>
          </div>

          <div class="col-md-2 nav-op">
            <h3><a href="/portfolio">Portfolio</a></h3>
          </div>

          <div class="col-md-2 nav-op">
            <h3><a href="/contact">Contact</a></h3>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container-fluid">
    <div class="container">
      <div class="row">
        <div class="msg-holder">
          <!-- <div class="left-background"></div>
          <div class="right-background"></div> -->
            <div class="msg-positioner">
              <h1>Save Time, Make Memories</h1>
            </div>

        </div>
      </div>
    </div>
  </div>

  <div class="container-fluid main-holder">
    <div class="container">

      <div class="row">


      <div class="col-md-10 slideshow-canvas">

        <div id="myCarousel" class="carousel slide" data-ride="carousel" >
          <!-- Indicators -->
          <ol class="carousel-indicators" id="mob-hide">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
            <li data-target="#myCarousel" data-slide-to="3"></li>
          </ol>

          <!-- Wrapper for slides -->
          <div class="carousel-inner" id="myCarousel">
            <div class="item active" id="myCarousel">
              <img id="myCarousel" src="/static/images/slideshow/1.jpg" alt="Los Angeles" style="width:100%;">
            </div>

            <div class="item" id="myCarousel">
              <img id="myCarousel" src="/static/images/slideshow/2.jpg" alt="Chicago" style="width:100%;">
            </div>

            <div class="item" id="myCarousel">
              <img id="myCarousel" src="/static/images/slideshow/3.jpg" alt="New york" style="width:100%;">
            </div>

            <div class="item" id="myCarousel">
              <img id="myCarousel" src="/static/images/slideshow/4.jpg" alt="New york" style="width:100%;">
            </div>
          </div>
        </div>
      </div>

      <!-- <div class="col-md-2 sm-update">
          <div class="fb-follow" data-href="https://www.facebook.com/OneDayLikeThisEventPlanner/" data-layout="button_count" data-size="small" data-show-faces="true"></div>
      </div> -->
    </div>
    </div>
  </div>
  <div class="container-fluid">
    <div class="container">

      <!-- <div class="row sm-row"> -->
        <div id="smContainer">
        <!-- <div class="sm-grouper"> -->
        <div class="col-md-6 sm-icon-holder fb">
          <div class="sm-spacer">
            <img class="sm-icon" src="/static/images/sm_icons/fb-md.png">
            <h3><a href="https://www.facebook.com/OneDayLikeThisEventPlanner/">Facebook</a></h3>
          </div>
          <div class="sm-icon-overlay-left fb-overlay">
            <!-- <img class="sm-icon-center" src="/static/images/sm_icons/fb-md.png"> -->
            <div class="overlay-text-positioner">
              <h1 class="overlay-text"><a href="https://www.facebook.com/OneDayLikeThisEventPlanner/">facebook</a></h1>
            </div>
          </div>
        </div>

        <div class="col-md-6 sm-icon-holder insta">
          <div class="sm-spacer">
            <img class="sm-icon" src="/static/images/sm_icons/insta-md.png">
            <h3>Instagram</h3>
          </div>
          <div class="sm-icon-overlay-right insta-overlay">
            <!-- <img class="sm-icon-center" src="/static/images/sm_icons/insta-md.png"> -->
            <div class="overlay-text-positioner">
              <h1 class="overlay-text"><a href="https://www.instagram.com/onedaylikethisevents/">instagram</a></h1>
            </div>
          </div>
        </div>
      <!-- </div> -->
      <!-- <div class="sm-grouper "> -->
        <div class="col-md-6 sm-icon-holder pin">
          <div class="sm-spacer">
            <img class="sm-icon" src="/static/images/sm_icons/pin-md.png">
            <h3>Pintrest</h3>
          </div>
          <div class="sm-icon-overlay-left pin-overlay">
            <!-- <img class="sm-icon-center" src="/static/images/sm_icons/pin-md.png"> -->
            <div class="overlay-text-positioner">
              <h1 class="overlay-text"><a href="https://www.pinterest.co.uk/onedaylikethisevents/">pintrest</a></h1>
            </div>
          </div>
        </div>

        <div class="col-md-6 sm-icon-holder tw">
          <div class="sm-spacer">
            <img class="sm-icon" src="/static/images/sm_icons/mail-md.png"></img>
            <h3>Email</h3>
          </div>
          <div class="sm-icon-overlay-right tw-overlay">
            <!-- <img class="sm-icon-center" src="/static/images/sm_icons/tw-md.png"> -->
            <div class="overlay-text-positioner">
              <h1 class="overlay-text email-overlay"><a href="mailto:onedaylikethisevents@outlook.com">ODLT@gmail.com</a></h1>
            </div>
          </div>
        </div>
      <!-- </div> -->
    </div>
  <!-- </div> -->


    <!-- <div class="row">

    </div> -->
    </div>
  </div>
  <script>
  $(document).ready(function(){
    // var smHolderWidth = $(".sm-icon-holder").width();
    //
    // $(".sm-icon-overlay-right").width() = $(".sm-icon-holder").width();
    // $(".sm-icon-overlay-left").width() = $(".sm-icon-holder").width();
    // Facebook overlay
    $(".fb").hover(function() {
      $(".fb-overlay").animate({
        "marginLeft": "+=225px"
      }, 150);
        }, function() {
          $(".fb-overlay").animate({
            "marginLeft": "-=225px"
          }, 150);
          });
// insta overlay
      $(".insta").hover(function() {
        $(".insta-overlay").animate({
        "marginLeft": "-=225px"
      }, 150);
        }, function() {
          $(".insta-overlay").animate({
            "marginLeft": "+=225px"
          }, 150);
          });
// pin overlay
$(".pin").hover(function() {
  $(".pin-overlay").animate({
  "marginLeft": "+=225px"
}, 150);
  }, function() {
    $(".pin-overlay").animate({
      "marginLeft": "-=225px"
    }, 150);
    });

// twitter overlay
$(".tw").hover(function() {
  $(".tw-overlay").animate({
  "marginLeft": "-=225px"
}, 150);
  }, function() {
    $(".tw-overlay").animate({
      "marginLeft": "+=225px"
    }, 150);
    });
  });

  var width = $(window).width();


  </script>

</body>
</html>
